* {
    background-color: #cfeffd;
}

.body {
    background-color: white; 
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5%;
}

p {
    background-color: white; 
    text-align: left;
}

.highlighted {
    font-weight: bolder; 
    font-size: xx-large;
    color: black;
    background-color: darkgrey;
    border-width: 2px;
    border-style: solid;
    border-color: darkcyan
}

a {
    color: crimson;
    background-color: white;
    font-weight: bold;
    font-size: medium;
}

a:hover {
    color: rgb(255, 255, 255);
    background-color: crimson;
    font-weight: bold;
}

img {
    border-style: groove;
    border-radius: 20%;
    image-orientation: 50grad;                    
}

.images {
    text-align: center;
}

li, ol, ul {
    background-color: white;
    font-weight: bold;
}

h2 {
    color:rgb(255, 255, 255);
    background-color: rgb(160, 160, 160);
    border-width: 2px;
    border-style: solid;
    border-color: darkcyan;
}

.caption {text-align: center;
    color: black;
    font-size: x-small;
    background-color: #cfeffd;
}

.caption:hover {
    color: black;
    background-color: #cfeffd;
}