* {
    background-color: #cfeffd;
}

.body {
    background-color: white; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5%;
    border-width: 2px;
    border-color: cadetblue;
    border-style: solid;
    margin: 5%;
}

p {
    background-color: white; 
    text-align: left;
}

.highlighted {
    font-weight: bolder; 
    font-size: xx-large;
    color: black;
    background-color: darkgrey;
    border-width: 2px;
    border-style: solid;
    border-color: darkcyan
}

a {
    color:cadetblue;
    background-color: white;
    font-weight: bold;
    font-size: medium;
}

a:hover {
    color: rgb(255, 255, 255);
    background-color:cadetblue;
    font-weight: bold;
}

.images {
    text-align: center;
    margin-bottom: 1rem;
    background-color: white;
}

img {
    border-width: 2px;
    border-style:inset;
    border-color: cadetblue;
}

li, ol, ul {
    background-color: white;
    font-weight: bold;
}

ol{
    list-style-type: square;
}

ul {
    list-style-type: none;
}

h1, h2 {
    text-align: center;
    color: white;
    background-color: darkgray;
}

h2 {
    border-width: 2px;
    border-style: solid;
    border-color: darkcyan;
}

.caption {text-align: center;
    color: black;
    font-size: x-small;
    background-color: #cfeffd;
    margin-bottom: 1rem;
    background-color: white;
}

.caption:hover {
    color:cadetblue;
    background-color: white;
}